@page
@{
    ViewData["Title"] = "Home";
}

<style>
    .high-priority {
        background-color: #DEDEDE;
    }
</style>

<h2>Home</h2>

<article>
    <h1>Welcome to the SOAR Program!</h1>
    <div>
        <p>
            This application serves as announcements page as well as a timekeeping program. Listed below are the Top 5 announcements based on priority.
            The tabs above redirect to functional pages for updating and creaing announcements and timekeeping data.
        </p>
        <table class="table table-responsive table-condensed table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Body</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @* Filler Object below. TODO: Fill with real data *@
                <tr class="high-priority">
                    <td><a href="#">Good Luck on your presentation!</a></td>
                    <td>6/20/2018</td>
                    <td>6/22/2018</td>
                    <td>This presentation teaches fundemental presenting skills for beginners.</td>
                </tr>
                <tr>
                    <td><a href="#">Agile Essentials!</a></td>
                    <td>6/20/2018</td>
                    <td>6/22/2018</td>
                    <td>This presentation teaches Agile development skills for beginners.</td>
                </tr>
            </tbody>
        </table>
    </div>
</article>

