@page
@{
    ViewData["Title"] = "Home";
}

<style>
    .high-priority {
        background-color: #DEDEDE;
    }
</style>

<h2>Home</h2>

<article class="high-priority">
    <h1>Welcome to the Grad Academy!</h1>
    <div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus a lectus quis leo maximus ornare vitae quis nibh. Vivamus venenatis justo nulla, id euismod dui pellentesque a. Suspendisse sit amet feugiat massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam porta semper bibendum. Cras convallis dui elit, sit amet molestie odio tincidunt vitae. Fusce risus est, porttitor in dapibus tincidunt, tristique luctus urna. Etiam pulvinar lacus at magna placerat pharetra. Sed in justo neque. Nunc magna urna, maximus finibus placerat ac, sollicitudin consequat lectus. In eu volutpat purus. Suspendisse posuere tincidunt mauris.
        </p>
        <p>
            Nulla egestas leo a velit volutpat, sed porttitor nisi fermentum. In tempus justo urna, imperdiet efficitur sem lobortis eu. Ut in orci at lorem suscipit feugiat. Sed congue, enim in mollis efficitur, est nulla dignissim elit, id consectetur arcu metus in turpis. Donec tempor nisl sed viverra viverra. Mauris accumsan, nunc a aliquet tincidunt, dolor risus cursus lectus, non aliquet arcu arcu ac est. Nunc et sapien malesuada, efficitur orci in, rhoncus turpis. Phasellus vel felis tincidunt, efficitur ipsum vel, sollicitudin dui. Quisque feugiat sem id lorem elementum scelerisque. Nam semper, sapien accumsan tempus tincidunt, erat sem facilisis odio, in egestas erat purus at leo. Nullam eget sollicitudin justo, quis ultricies enim. Morbi ornare massa quis molestie sodales. Pellentesque blandit dignissim nunc, accumsan vestibulum ligula mattis eget. Cras eu nisl pretium, faucibus libero at, eleifend lacus. Integer aliquam pretium magna porttitor pharetra.
        </p>
    </div>
</article>
<article>
    <h1>Git Basics</h1>
    <div>
        <p>
            Vestibulum enim lectus, finibus et purus id, convallis commodo tortor. Nulla id lectus vitae nunc varius porttitor. Vivamus lobortis risus nec augue pretium scelerisque. Donec lobortis aliquet risus sit amet iaculis. Phasellus luctus urna non ipsum faucibus, eu congue diam ornare. Sed gravida nisi eget lectus accumsan, eu lacinia neque ultrices. Phasellus dictum sem quis sapien egestas euismod. Cras a metus a magna elementum tincidunt. Nunc in quam nec ipsum fermentum vehicula. Aenean cursus orci at nulla posuere, et convallis est rhoncus. In vitae turpis at nisl ornare eleifend. Curabitur at convallis ligula, quis bibendum purus. Nulla sapien nunc, commodo vitae urna et, venenatis sodales lectus.
        </p>
        <p>
            Aenean nec odio massa. Maecenas tempus augue arcu, suscipit ullamcorper nulla finibus ac. Vestibulum volutpat in augue id dapibus. Fusce viverra, lacus vitae accumsan efficitur, urna dui sollicitudin velit, quis aliquet ipsum lacus ut lacus. Curabitur gravida tortor ante, at porta libero facilisis eu. Phasellus aliquet leo vitae posuere iaculis. Mauris interdum dolor sit amet luctus pellentesque. Fusce aliquet dictum eros, quis consectetur magna. Phasellus dignissim, lorem id facilisis pharetra, odio lectus vestibulum libero, sit amet condimentum lacus lacus id lacus. Integer tristique est eget felis accumsan, quis pretium lectus sodales. Sed tincidunt sed tellus at viverra.
        </p>
        <p>
            Ut pharetra dapibus enim eget suscipit. Nullam nisl nisl, tincidunt nec nisl nec, molestie dictum metus. Curabitur id nulla non dolor aliquet tincidunt in ac risus. Nam elementum vel mi ut accumsan. Duis viverra ex a nisl condimentum faucibus. Suspendisse malesuada sem ac aliquet gravida. Donec et libero ut ex placerat porttitor et sed leo. Curabitur eu nisi ac libero placerat facilisis et vitae nunc. Morbi vel velit varius, suscipit ipsum sed, semper ex. Vivamus leo magna, lacinia sit amet hendrerit at, congue in odio. Nulla et odio non augue eleifend sollicitudin eget a libero. Pellentesque non lacus leo. Curabitur eget leo id erat tincidunt pulvinar. Etiam urna felis, molestie eu gravida ut, pulvinar quis ligula.
        </p>
    </div>
</article>

