@page
@{
    ViewData["Title"] = "Manage Announcements";
}

<article>
    <div class="row">
        <div>
            <h1>Announcement</h1>
        </div>
        <div>
            <button class="btn btn-xs btn-success ml-3" href="#" role="button">+</button>
        </div>
            
        
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>High Priority</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="#">Good Luck on your presentation!</a></td>
                <td>6/20/2018</td>
                <td>6/22/2018</td>
                <td>Yes</td>
                <td><button class="btn btn-xs btn-danger" aria-label="remove announcement">-</button></td>
            </tr>
            <tr>
                <td><a href="#">Welcome to the Grad Academy Project</a></td>
                <td>6/11/2018</td>
                <td>6/22/2018</td>
                <td>Yes</td>
                <td><button class="btn btn-xs btn-danger" aria-label="remove announcement">-</button></td>
            </tr>
            <tr>
                <td><a href="#">Git Basics</a></td>
                <td>6/11/2018</td>
                <td>6/22/2018</td>
                <td>No</td>
                <td><button class="btn btn-xs btn-danger" aria-label="remove announcement">-</button></td>
            </tr>
        </tbody>
    </table>
</article>