@page
@{
    ViewData["Title"] = "Modify Announcement";
}

@* Lets see if this works *@

<article>
    <h2>Modify Announcements</h2>

    <div>
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            High Priority?
        </label>
        <form>
            <div class="row">
                <div class="col form-group">
                    <label for="formGroupExampleInput">Start Date</label>
                    <input type="date" class="form-control" id="formGroupStartDate" placeholder="Example input">
                </div>
                <div class="col form-group">
                    <label for="formGroupExampleInput">End Date</label>
                    <input type="date" class="form-control" id="formGroupEndDate" placeholder="Example input">
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    <label for="formGroupExampleInput">Title</label>
                    <input type="text" class="form-control" id="formGroupTitle" placeholder="Title">
                </div>
            </div>
            <div class="row">
                <div class="col form-group">
                    <label for="formGroupExampleInput">Body</label>
                    <textarea class="form-control" id="formGroupBody" placeholder="Text body"></textarea>
                </div>
            </div>
            <div class="row">
                <button type="button" class="btn btn-info">Save</button>
            </div>
        </form>
    </div>
</article>


