@page
@{
    ViewData["Title"] = "Modify Announcement";
}
<div>
    <h1>Modify Announcement</h1>
    <div class="row">
        <div class="col">
            <input class="form-check-input ml-0 pr-2" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label ml-4" for="flexCheckDefault">
                High Priority
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div>
                <label for="startDate">Start Date</label>
                <br />
                <input id="startDate" type="date" class="form-control" />
            </div>

        </div>
        <div class="col-sm-12 col-md-6">
            <label for="endDate">End Date</label>
            <br />
            <input id="endDate" type="date" class="form-control" />
        </div>

    </div>
    <div class="row">
        <div class="col form-group">
            <label for="title">Title:</label>
            <br />
            <input type="text" id="title" class="form-control"/>
        </div>
        
    </div>

    <div class="row">
        <div class="col form-group">
            <label for="body">Body:</label>
            <br />
            <textarea id="body" rows="4" class="form-control"></textarea>
        </div>
        
    </div>
    <div class="row">
        <div class="col-8">
            <input type="submit" />
        </div>
        
    </div>
</div>