<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">UI Templates</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li [routerLinkActive]="['link-active']"
                        [routerLinkActiveOptions]="{ 'exact': true }"
                        class="nav-item">

                        <a [routerLink]="['/home']"
                           class="nav-link">Home</a>

                    </li>
                    <li [routerLinkActive]="['link-active']"
                        [routerLinkActiveOptions]="{ 'exact': true }"
                        class="nav-item">

                        <a [routerLink]="['/manage-announcements']"
                           class="nav-link">Manage Announcement</a>

                    </li>
                    <li [routerLinkActive]="['link-active']"
                        [routerLinkActiveOptions]="{ 'exact': true }"
                        class="nav-item">

                        <a [routerLink]="['/timesheets/0']"
                           class="nav-link">TimeSheet</a>

                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>